# docker-compose.yml for Puppetmaster
# e.g. /opt/containers/puppetmaster/docker-compose.yml
puppetserver:
  image: puppetserver:pc1
  environment:
    PUPPETSERVER_HOSTNAME: puppet.example.com
    PUPPETSERVER_GENCONFIG: yes
  ports:
    - "8140:8140"
  volumes:
    - /opt/containers/puppetserver/data/ssl:/etc/puppetlabs/puppet/ssl
    - /opt/containers/puppetserver/data/code:/etc/puppetlabs/code
  restart: always
